.loggin-logo {
  max-width: 20%;
}

.fix-square {
  border-radius: 0 !important;
}

.login-box {
  margin-top: 70px;
  border: 1px solid gray;
  background-color: #f8f9fa;
  padding: 30px;
  box-shadow: 2px 2px;

  .admin-login-area {
    margin-top: 40px;
  }

  .signin-title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.collapse {
  margin-left: 0;
  li a {
    color: black;
  }
}

#sidebar {
  float: left;
}

.container-fluid {
  padding: 0 !important;
}

.content-main-page-header {
  border-bottom: 3px double black;
  position: relative;
  h1 {
    display: inline-block;
  }
  .btn-back-to-list, .btn-new-element {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: inline-block;
    float: right;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.sub-page-title {
  border-bottom: 1px solid black;
}

.container {
  padding: 0 !important;
}

.required-start {
  color: red;
}

form .help-block {
  color: #ff4848;
  font-size: 0.9rem;
}

a.btn {
  border-radius: 0.1rem;
  padding: 5px 20px;
}

input.form-control, select.form-control{
  border-radius: 0.1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.2rem !important;
}
