<div id="home-page-advertisement-area" class="widget-area one-third-width">
  <div class="container">
    <div class="inner-wrapper">
      <div id="ecommerce-gem-advertisement-2" class="ecommerce_gem_widget_advertisement">
        <div class="advertisement-content-holder advertisement-widget content-left-aligned content-style-one overlay-enabled">
          <div class="advertisement-wrap" style="background: url(https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/add-new-1.jpg); background-size: cover; background-position: center center;">
            <div class="advertisement-text-wrap">
              <div class="advertisement-content">
                <h2 class="widget-title">LADIES</h2>
                <p>SUNGLASSES</p>
              </div>
              <div class="advertisement-offer">
                <div class="advertisement-offer-inner">
                  <div class="advertisement-offer-wrap">
                    <span class="offer-percent">50%</span><span class="offer-text">OFF</span>
                  </div>
                </div>
              </div>
              <!-- .advertisement-offer -->
              <div class="advertisement-buttons">
                <a href="#" class="button advertisement-button">Purchase Now</a>
              </div>
              <!-- .advertisement-buttons -->
            </div>
          </div>
        </div>
        <!-- .advertisement-widget -->
      </div>
      <div id="ecommerce-gem-advertisement-3" class="ecommerce_gem_widget_advertisement">
        <div class="advertisement-content-holder advertisement-widget content-left-aligned content-style-two overlay-enabled">
          <div class="advertisement-wrap" style="background: url(https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/add-new-2.jpg); background-size: cover; background-position: center center;">
            <div class="advertisement-text-wrap">
              <div class="advertisement-content">
                <h2 class="widget-title">FOOTWARE</h2>
                <p>BIG SALE</p>
              </div>
              <div class="advertisement-offer">
                <div class="advertisement-offer-inner">
                  <div class="advertisement-offer-wrap">
                    <span class="offer-percent">50%</span><span class="offer-text">OFF</span>
                  </div>
                </div>
              </div>
              <!-- .advertisement-offer -->
              <div class="advertisement-buttons">
                <a href="#" class="button advertisement-button">Start Shopping</a>
              </div>
              <!-- .advertisement-buttons -->
            </div>
          </div>
        </div>
        <!-- .advertisement-widget -->
      </div>
      <div id="ecommerce-gem-advertisement-4" class="ecommerce_gem_widget_advertisement">
        <div class="advertisement-content-holder advertisement-widget content-right-aligned content-style-one overlay-enabled">
          <div class="advertisement-wrap" style="background: url(https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/add-new-3.jpg); background-size: cover; background-position: center center;">
            <div class="advertisement-text-wrap">
              <div class="advertisement-content">
                <h2 class="widget-title">SMART</h2>
                <p>WATCHES</p>
              </div>
              <div class="advertisement-offer">
                <div class="advertisement-offer-inner">
                  <div class="advertisement-offer-wrap">
                    <span class="offer-percent">50%</span><span class="offer-text">OFF</span>
                  </div>
                </div>
              </div>
              <!-- .advertisement-offer -->
              <div class="advertisement-buttons">
                <a href="#" class="button advertisement-button">Start Shopping</a>
              </div>
              <!-- .advertisement-buttons -->
            </div>
          </div>
        </div>
        <!-- .advertisement-widget -->
      </div>
    </div>
  </div>
</div>
