<div class="sale-off-product">
  <div class="container-fluid product-header">
    <img src="https://americanpomade.vn/wp-content/uploads/2017/02/Sale-Banner-1920-x-600-FINAL.jpg" class="img-header">
  </div>
  <div class="container all-category-product">
    <div class="row">
      <div class="col-md-3">
        <div class="product-thumb-wrap">
          <div class="image-and-button">
            <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-2-300x300.jpg" class="product-image">
            <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
          </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-5-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-4-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-1-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-2-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-5-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-4-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-thumb-wrap">
        <div class="image-and-button">
          <img src="https://promenadethemes.com/demo/ecommerce-gem/wp-content/uploads/2018/01/product-1-300x300.jpg" class="product-image">
          <div class="btn-middle">
              <button class="btn btn-default btn-square">View detail</button>
              <span><button class="btn btn-default btn-square">Quick View</button></span><br>
              <button class="btn btn-default btn-square btn-add-to-carts">Add to cart</button>
            </div>
            </div>
          <div class="product-info-basic">
            <h4 class="product-name">Ao nam</h4>
            <h4 class="product-price">400.000 VND</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-right"><a href="">View All >>></a></h4></div>
      </div>
  </div>
</div>
