<aside id="footer-widgets" class="widget-area" role="complementary">
  <div class="container">
    <div class="inner-wrapper">
      <div class="widget-column footer-active-3">
        <section id="text-2" class="widget widget_text">
          <h2 class="widget-title">About eCommerce Gem</h2>
          <div class="textwidget">
            <p>Nunc et ornare tellus. Quisque imperdiet interdum commodo. Integer laoreet tristique neque quis laoreet. Duis ut ultrices est, sed feugiat leo.</p>
          </div>
        </section>
        <section id="ecommerce-gem-social-2" class="widget ecommerce_gem_widget_social">
          <div class="menu-social-menu-container">
            <ul id="menu-social-menu-1" class="menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a target="_blank" href="https://www.facebook.com/promenadethemes/"><span class="screen-reader-text">Facebook</span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a target="_blank" href="https://twitter.com/promenadetheme"><span class="screen-reader-text">Twitter</span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a target="_blank" href="https://www.youtube.com/channel/UCgEOUr3qjSQmJ9d5x1DKFrg/videos"><span class="screen-reader-text">Youtube</span></a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="widget-column footer-active-3">
        <section id="ecommerce-gem-contact-2" class="widget ecommerce_gem_widget_contact">
          <div class="contact-list">
            <h2 class="widget-title">Contact Us</h2>
            <div class="contact-wrapper">
              <div class="contact-item">
                <div class="contact-inner">
                  <span class="contact-icon">
                  <span class="icon-map"></span>
                  </span>
                  <div class="contact-text-wrap">
                    <p>Bansbari-03, Kathmandu</p>
                  </div>
                  <!-- .contact-text-wrap -->
                </div>
              </div>
              <!-- .contact-item -->
              <div class="contact-item">
                <div class="contact-inner">
                  <span class="contact-icon">
                  <span class="icon-envelope"></span>
                  </span>
                  <div class="contact-text-wrap">
                    <p>info@promenadethemes.com</p>
                  </div>
                  <!-- .contact-text-wrap -->
                </div>
              </div>
              <!-- .contact-item -->
              <div class="contact-item">
                <div class="contact-inner">
                  <span class="contact-icon">
                  <span class="icon-mobile"></span>
                  </span>
                  <div class="contact-text-wrap">
                    <p>+977-1-2344478</p>
                  </div>
                  <!-- .contact-text-wrap -->
                </div>
              </div>
              <!-- .contact-item -->
              <div class="contact-item">
                <div class="contact-inner">
                  <span class="contact-icon">
                  <span class="icon-global"></span>
                  </span>
                  <div class="contact-text-wrap">
                    <p>https://promenadethemes.com</p>
                  </div>
                  <!-- .contact-text-wrap -->
                </div>
              </div>
              <!-- .contact-item -->
            </div>
          </div>
          <!-- .features-list -->
        </section>
      </div>
      <div class="widget-column footer-active-3">
        <section id="ecommerce-gem-features-2" class="widget ecommerce_gem_widget_features">
          <div class="features-list">
            <div class="features-wrapper">
              <div class="feature-item feature-item-one">
                <div class="feature-inner">
                  <span class="feature-icon">
                  <span class="icon-refresh"></span>
                  </span>
                  <div class="feature-text-wrap">
                    <h2 class="feature-title">Free Shipping &amp; Return</h2>
                    <p>Free shipping on all orders above $99</p>
                  </div>
                  <!-- .feature-text-wrap -->
                </div>
              </div>
              <!-- .feature-item -->
              <div class="feature-item feature-item-two">
                <div class="feature-inner">
                  <span class="feature-icon">
                  <span class="icon-wallet"></span>
                  </span>
                  <div class="feature-text-wrap">
                    <h2 class="feature-title">Money Back Guarantee</h2>
                    <p>100% money back guarantee</p>
                  </div>
                  <!-- .feature-text-wrap -->
                </div>
              </div>
              <!-- .feature-item -->
              <div class="feature-item feature-item-three">
                <div class="feature-inner">
                  <span class="feature-icon">
                  <span class="icon-chat"></span>
                  </span>
                  <div class="feature-text-wrap">
                    <h2 class="feature-title">24/7 Online Support</h2>
                    <p>Support staffs ready to help you</p>
                  </div>
                  <!-- .feature-text-wrap -->
                </div>
              </div>
              <!-- .feature-item -->
            </div>
          </div>
          <!-- .features-list -->
        </section>
      </div>
    </div>
    <!-- .inner-wrapper -->
  </div>
  <!-- .container -->
</aside>
