<div id="top-bar" class="top-header">
  <div class="container">
    <div class="top-left">
      <div class="top-left-inner">
        <span class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> Kathmandu, Nepal</span>
        <span class="phone"><i class="fa fa-phone" aria-hidden="true"></i> +977-1-33445566</span>
        <span class="fax"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@ecgem.com</span>
      </div>
    </div>

    <div class="top-right">
      <div class="top-social-menu menu-social-menu-container">
        <div class="widget ecommerce_gem_widget_social">
          <div class="menu-social-menu-container">
            <ul id="menu-social-menu" class="menu">
              <li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a target="_blank" href="https://www.facebook.com/promenadethemes/"><span class="screen-reader-text">Facebook</span></a></li>
              <li id="menu-item-6" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a target="_blank" href="https://twitter.com/promenadetheme"><span class="screen-reader-text">Twitter</span></a></li>
              <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a target="_blank" href="https://www.youtube.com/channel/UCgEOUr3qjSQmJ9d5x1DKFrg/videos"><span class="screen-reader-text">Youtube</span></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="top-account-wrapper logged-out">
        <a href="https://promenadethemes.com/demo/ecommerce-gem/my-account/">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span class="top-log-in">Login / Register</span>
        </a>
      </div>

      <div class="top-wishlist-wrapper">
        <div class="top-icon-wrap">
          <a class="wishlist-btn" href="https://promenadethemes.com/demo/ecommerce-gem/wishlist/">
            <i class="fa fa-heart" aria-hidden="true"></i><span class="wish-value">0</span>
          </a>
        </div>
      </div>

      <div class="top-cart-wrapper">
        <div class="top-icon-wrap">
          <a href="https://promenadethemes.com/demo/ecommerce-gem/cart/">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="cart-value ec-cart-fragment"> 0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
